<div class="background-selector" ng-controller="BackgroundSelectController">
  
  <h1> Choose a background for your story </h1>
  <br>
  <div class="background-list-scroll">
    <span class="background-img-container" ng-repeat="background in backgrounds" ng-click="setBackground(background)">
      <img ng-src="{{ background.img }}"> 
    </span>
  </div>

  <br>
  <button class="btn btn-lg btn-success" ng-click="$root.saveComic()" ng-if="!$root.uploading"> 
    <span class="glyphicon glyphicon-thumbs-up"> </span> &nbsp; Finish and View your story
  </button>

  <span class="text-center" ng-if="$root.uploading"> <h1> Uploading your comic... Please wait. </h1> </span>
</div>

