<div class="" ng-controller="TextSetterController">
  <h1> Tell your story </h1>
  <div class="chat">
    <div class="bubble me"> 
      <textarea
        ng-model="text1"
        style="width:99%"
        ng-maxlength="60"
        maxlength="60"
        ng-model-options="{debounce: 1000}">
      </textarea>
    </div>
    <br>
    <div class="bubble you"> 
      <textarea
        ng-model="text2"
        style="width:99%"
        ng-maxlength="60"
        maxlength="60"
        ng-model-options="{debounce: 1000}">
      </textarea>
    </div>
  </div>

  <button class="btn btn-lg btn-success" ng-click="$root.saveComic()" ng-if="!$root.uploading" style="margin-top:20px;"> 
    <span class="glyphicon glyphicon-thumbs-up"> </span> &nbsp; Finish and View your story
  </button>

  <span class="text-center" ng-if="$root.uploading"> <h1> Uploading your comic... Please wait. </h1> </span>

</div>

